body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #706897;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #9088d4;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto 30px auto;
}

h3 {
  color: #9088d4;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #706897;
  line-height: 2;
}

hr {
  border: dotted;
  border-bottom: none;
  border-color: #fff3e2;
  border-width: 3.125%;
  width: 3%;
  margin: 50px auto 50px auto;
}

.top-container {
  background-color: #fff3e2;
  position: relative;
  padding: 100px 0 50px 0;
}

.middle-container {
  padding-top: 50px;
}

.bottom-container {
  background-color: #ebcfc4;
  padding: 20px 0 20px 0;
}

.avatar{
  width: 15%;
  height: 15%;
  border-radius: 50%;
}


.intro {
  width: 30%;
  margin: 0 auto 0 auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.programmer{
  font-weight: normal;
  line-height: 2;
}

.top-sakura {
  position: absolute;
  width: 10%;
  height: 15%;
  left: 5%;
}

.mid-sakura {
  position: absolute;
  width: 5%;
  height: 10%;
  left: 3.5rem;
  top: 10rem;
}

.bottom-sakura {
  position: absolute;
  width: 7%;
  height: 14%;
  left: 2rem;
  top: 13rem;
}

.flower {
  position: absolute;
  right: 0;
  width: 20%;
  height: 40%;
  top: 2%;
}

.img {
  width: 10%;
}

.img-webdev {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.img-run {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.img-contact{
  padding: 0 10px 30px 0;
}
